# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/

# VSCode settings
.vscode/

# CMake and build artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# macOS system files
.DS_Store

# MuJoCo
MUJOCO_LOG.TXT

# Miscellaneous
tdcr_sim_mujoco
todo.txt