# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/

# VSCode settings
.vscode/

# Sphinx build directory
docs/_build/
docs/build/

# CMake and build artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Jupyter Notebook checkpoints (if using nbsphinx)
.ipynb_checkpoints/

# Environment-specific files
.DS_Store

# Pytest
.pytest_cache

# Miscellaneous
MUJOCO_LOG.TXT
todo.txt