absl-py==2.4.0
cffi==2.0.0
cloudpickle==3.1.2
contourpy==1.3.3
cycler==0.12.1
dynamixel-sdk==4.0.3
etils==1.13.0
Farama-Notifications==0.0.4
filelock==3.20.3
fonttools==4.61.1
fsspec==2026.2.0
glfw==2.10.0
gymnasium==1.2.3
hidapi-usb==0.3.2
ImageIO==2.37.2
importlib_resources==6.5.2
Jinja2==3.1.6
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
mujoco==3.4.0
networkx==3.6.1
numpy==2.4.2
opencv-python==4.13.0.92
packaging==26.0
pandas==3.0.0
pillow==12.1.0
pycparser==3.0
pydualsense==0.7.5
pygame==2.6.1
pynput==1.8.1
pyobjc-core==12.1
pyobjc-framework-ApplicationServices==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreText==12.1
pyobjc-framework-Quartz==12.1
PyOpenGL==3.1.10
pyparsing==3.3.2
pyserial==3.5
python-dateutil==2.9.0.post0
scipy==1.17.0
setuptools==82.0.0
six==1.17.0
sympy==1.14.0
-e git+https://github.com/cshentu/tdcr-sim-mujoco.git@268b2998d739cff68d63098a9e2731a58cdd0b81#egg=tdcr_sim_mujoco
torch==2.10.0
tqdm==4.67.3
typing_extensions==4.15.0
zipp==3.23.0
absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cloudpickle==3.1.2
contourpy==1.3.3
cycler==0.12.1
dynamixel-sdk==4.0.3
etils==1.13.0
Farama-Notifications==0.0.4
filelock==3.20.3
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.2.0
glfw==2.10.0
gymnasium==1.2.3
hidapi-usb==0.3.2
idna==3.11
ImageIO==2.37.2
importlib_resources==6.5.2
Jinja2==3.1.6
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
mujoco==3.4.0
multidict==6.7.1
networkx==3.6.1
numpy==2.4.2
opencv-python==4.13.0.92
packaging==26.0
pandas==3.0.0
pillow==12.1.0
propcache==0.4.1
psutil==7.2.2
pycparser==3.0
pydualsense==0.7.5
pygame==2.6.1
pynput==1.8.1
pyobjc-core==12.1
pyobjc-framework-ApplicationServices==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreText==12.1
pyobjc-framework-Quartz==12.1
PyOpenGL==3.1.10
pyparsing==3.3.2
pyserial==3.5
python-dateutil==2.9.0.post0
requests==2.32.5
scipy==1.17.0
setuptools==82.0.0
six==1.17.0
sympy==1.14.0
torch==2.10.0
torch-geometric==2.7.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cloudpickle==3.1.2
contourpy==1.3.3
cycler==0.12.1
dynamixel-sdk==4.0.3
etils==1.13.0
Farama-Notifications==0.0.4
filelock==3.20.3
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.2.0
glfw==2.10.0
gymnasium==1.2.3
hidapi-usb==0.3.2
idna==3.11
ImageIO==2.37.2
importlib_resources==6.5.2
iniconfig==2.3.0
Jinja2==3.1.6
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
mujoco==3.4.0
multidict==6.7.1
networkx==3.6.1
numpy==2.4.2
opencv-python==4.13.0.92
packaging==26.0
pandas==3.0.0
pillow==12.1.0
pluggy==1.6.0
propcache==0.4.1
psutil==7.2.2
pycparser==3.0
pydualsense==0.7.5
pygame==2.6.1
Pygments==2.19.2
pynput==1.8.1
pyobjc-core==12.1
pyobjc-framework-ApplicationServices==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreText==12.1
pyobjc-framework-Quartz==12.1
PyOpenGL==3.1.10
pyparsing==3.3.2
pyserial==3.5
pytest==9.0.2
python-dateutil==2.9.0.post0
requests==2.32.5
scipy==1.17.0
setuptools==82.0.0
six==1.17.0
sympy==1.14.0
-e git+https://github.com/cshentu/tdcr-sim-mujoco.git@b4fb9b2106c6dd842a0a7cf64f8d93fba7530a25#egg=tdcr_sim_mujoco&subdirectory=../../tdcr_sim_mujoco
torch==2.10.0
torch-geometric==2.7.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
